MAIN_ICON ICON "icon.ico"
BAR BITMAP "bar.bmp"
DX7_01 BITMAP "dx7_01.bmp"
DX7_02 BITMAP "dx7_02.bmp"
DX7_03 BITMAP "dx7_03.bmp"
DX7_04 BITMAP "dx7_04.bmp"
DX7_05 BITMAP "dx7_05.bmp"
DX7_06 BITMAP "dx7_06.bmp"
DX7_07 BITMAP "dx7_07.bmp"
DX7_08 BITMAP "dx7_08.bmp"
DX7_09 BITMAP "dx7_09.bmp"
DX7_10 BITMAP "dx7_10.bmp"
DX7_11 BITMAP "dx7_11.bmp"
DX7_12 BITMAP "dx7_12.bmp"
DX7_13 BITMAP "dx7_13.bmp"
DX7_14 BITMAP "dx7_14.bmp"
DX7_15 BITMAP "dx7_15.bmp"
DX7_16 BITMAP "dx7_16.bmp"
DX7_17 BITMAP "dx7_17.bmp"
DX7_18 BITMAP "dx7_18.bmp"
DX7_19 BITMAP "dx7_19.bmp"
DX7_20 BITMAP "dx7_20.bmp"
DX7_21 BITMAP "dx7_21.bmp"
DX7_22 BITMAP "dx7_22.bmp"
DX7_23 BITMAP "dx7_23.bmp"
DX7_24 BITMAP "dx7_24.bmp"
DX7_25 BITMAP "dx7_25.bmp"
DX7_26 BITMAP "dx7_26.bmp"
DX7_27 BITMAP "dx7_27.bmp"
DX7_28 BITMAP "dx7_28.bmp"
DX7_29 BITMAP "dx7_29.bmp"
DX7_30 BITMAP "dx7_30.bmp"
DX7_31 BITMAP "dx7_31.bmp"
DX7_32 BITMAP "dx7_32.bmp"
DX100_01 BITMAP "dx100_01.bmp"
DX100_02 BITMAP "dx100_02.bmp"
DX100_03 BITMAP "dx100_03.bmp"
DX100_04 BITMAP "dx100_04.bmp"
DX100_05 BITMAP "dx100_05.bmp"
DX100_06 BITMAP "dx100_06.bmp"
DX100_07 BITMAP "dx100_07.bmp"
DX100_08 BITMAP "dx100_08.bmp"
