#include <windows.h>

ABOUTDLG DIALOGEX 25, 25, 305, 230
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Version Information"
FONT 9, "Meiryo UI"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,250,210,50,14
END
